/* COMMON */
.my-container {
	padding-top: calc(3vh);
	min-height: calc(80vh);
	padding-bottom: calc(3vh);
}

.my-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	color: white;
}

.standard-color {
	background-color: #00aff0;
}

.standard-text-color {
	color: #00aff0;
}

.modal-body-show-table {
	max-height: calc(70vh);
	overflow-y: auto;
}

.no-radius {
	border-radius: 0px;
}

/* BANNER */

/* CONGRESS DETAIL MENU */
#congress-logo {
	width: calc(100%);
	height: calc(100%);
	border: 1px solid #00aff0;
	margin-bottom: 40px;
}

#nav-congress-menu>li>a {
	font-size: 17px;
	color: #00aff0;
}

#nav-congress-menu>li {
	float: none;
}

#nav-congress-menu>li>a:hover {
	border-radius: 0px;
}

#nav-congress-menu>li.active>a {
	color: white;
}

#nav-congress-menu>li+li {
	margin : 0px;
}

/* TAB MANAGER */
.tab-manager>li.active>a, .tab-manager>li.active>a:focus {
	background-color: #00aff0;
	border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	background-color: #00aff0;
	border-radius: 0px;
}

.tab-manager>li>a:hover {
	border-radius: 0px;
}

.tab-manager {
	margin-top: 10px;
	border: 1px solid #00aff0;
	border-radius: 0px;
	font-size: 16px;
	font-weight: bold;
}

/* VOTING */
.breadcrumb {
	font-size: 17px;
}
