.my-container {
	padding-top: calc(5vh);
	min-height: calc(80vh);
	padding-bottom: calc(3vh);
}

.my-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	color: white;
}

.standard-color {
	background-color: #00aff0;
}

.standard-text-color {
	color: #00aff0;
}

.modal-body-show-table {
	max-height: calc(70vh);
	overflow-y: auto;
}

.no-radius {
	border-radius: 0px;
}

/* BANNER */

/* MENU */
#congress-logo {
	width: calc(100%);
	height: calc(100%);
	border: 1px solid #00aff0;
	margin-bottom: 40px;
}

#nav-congress-menu {
	font-size : 16px;
	color : #00aff0;
}

/**/

#tab-menu>li.active>a, .tab-manager>li.active>a:focus {
	background-color: #00aff0;
	border-radius: 0px;
	font-weight: bold;
}

#tab-menu>li>a:hover {
	border-radius: 0px;
}

/* TAB MANAGER */
.tab-manager>li.active>a, .tab-manager>li.active>a:focus {
	background-color: #00aff0;
	border-radius: 0px;
}

.tab-manager>li>a:hover {
	border-radius: 0px;
}

.tab-manager {
	margin-top: 10px;
	border: 1px solid #00aff0;
	border-radius: 0px;
	font-size: 16px;
	font-weight: bold;
}