<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="create_ballot">
		<div class="modal fade" id="create-ballot-modal" tabindex="-1" role="dialog"
			aria-labelledby="create-ballot-modal-label">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="create-ballot-modal-label">Chọn danh sách ứng viên</h4>
					</div>
					
					<div class="modal-body">
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-primary" id="btn-create-ballot">Lưu</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>