<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid" th:fragment="delegate-banner">

		<!-- Avatar -->
		<div class="col-md-4" id="panel-avatar-banner">
			<img src="../images/page/default-avatar.png" class="img-circle"
				id="banner-imagePath" />
		</div>

		<!-- Infomation -->
		<div class="col-md-8" id="panel-info-banner">
			<!-- STT -->
			<h5 id="banner-ordinal"></h5>
			
			<!-- Tên Đại biểu -->
			<h4 id="banner-name" style="font-weight: bold;"></h4>
			
			<!-- Giới tính -->
			<h5 id="banner-gender"></h5>
			
			<!-- Ngày sinh -->
			<h5 id="banner-dateOfBirth"></h5>
			
			<!-- Đơn vị -->
			<h5 id="banner-unitName"></h5>
			
			<!-- Chức vụ -->
			<h5 id="banner-position"></h5>
			
			<!-- Cơ cấu -->
			<h5 id="banner-typeName"></h5>
			
			<!-- Tham dự -->
			<h5 id="banner-arrivalTime"></h5>
			
		</div>
	</div>
</body>
</html>