<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div class="container-fluid form-horizontal" th:fragment="delegate">
		
		<div class="row" id="row-1">
			<!-- Avatar -->
			<div class="col-md-5" style="padding: 0;">
				<div id="panel-avatar" class="delegate-modal-panel">
					<img th:unless="${delegate.imagePath}" th:src="@{/images/page/default-avatar.png}" class="img-circle" id="img-avatar"/>
		
					<input type="file" accept="image/*" id="file-avatar" class="hidden"/>
				</div>
			</div>

			<!-- Main Information -->
			<div class="col-md-7" style="padding: 0;">
				<div id="panel-main-info" class="delegate-modal-panel">
				
					<img th:if="${delegate.hashCode.imagePath}" th:src="'../img/' + ${delegate.hashCode.imagePath}" id="img-code"/>
				
					<!-- STT -->
					<div class="form-group top-control">
						<label for="ordinal" class="col-md-2  control-label">STT</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="ordinal"
								placeholder="STT" th:value="${delegate.ordinal}"/>
						</div>
					</div>

					<!-- Tên Đại biểu -->
					<div class="form-group">
						<label for="name" class="col-md-2 control-label">Tên Đại
							biểu</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="name"
								placeholder="Tên Đại biểu" th:value="${delegate.name}"/>
						</div>
					</div>

					<!-- Đơn vị -->
					<div class="form-group">
						<label for="unit" class="col-md-2 control-label">Đơn vị</label>
						<div class="col-md-6">
							<select class="form-control" id="unit" th:name="unit"
								required="true">
								<option th:each="unit : ${units}" th:value="${unit.id}"
									th:text="${unit.name}"
									th:selected="${delegate.unit} and ${delegate.unit.id} == ${unit.id}" 
									></option>
							</select>
						</div>
					</div>

					<!-- Chức vụ -->
					<div class="form-group">
						<label for="position" class="col-md-2 control-label">Chức
							vụ</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="position"
								placeholder="Chức vụ" th:value="${delegate.position}"/>
						</div>
					</div>

					<!-- Cơ cấu -->
					<div class="form-group">
						<label for="type" class="col-md-2 control-label">Cơ cấu</label>
						<div class="col-md-3">
							<select class="form-control" id="type" th:name="type"
								required="true">
								<option th:each="type : ${types}" th:value="${type.id}"
									th:text="${type.shortName}"
									th:selected="${delegate.type} and ${delegate.type.id} == ${type.id}" 
									></option>
							</select>
						</div>
					</div>
				
					
				</div>
				
				
			</div>
		</div>
		
		<div class="row" id="row-2">
			<!-- Other Information -->
			<div class="col-md-5" style="padding: 0;">
				<div id="panel-other-info" class="delegate-modal-panel">
					<!-- Ngày sinh -->
					<div class="form-group top-control">
						<label for="dateOfBirth" class="col-md-4 control-label">Ngày
							sinh</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="dateOfBirth"
								placeholder="Ngày sinh" th:value="${delegate.dateOfBirth}"/>
						</div>
					</div>

					<!-- Giới tính -->
					<div class="form-group">
						<label for="gender" class="col-md-4 control-label">Giới
							tính</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="gender"
								placeholder="Giới tính" th:value="${delegate.gender}"/>
						</div>
					</div>

					<!-- Quê quán -->
					<div class="form-group">
						<label for="placeOfBirth" class="col-md-4 control-label">Quê
							quán</label>
						<div class="col-md-7">
							<input type="text" class="form-control" id="placeOfBirth"
								placeholder="Nơi sinh" th:value="${delegate.placeOfBirth}"/>
						</div>
					</div>

					<!--  Nơi ở -->
					<div class="form-group">
						<label for="address" class="col-md-4 control-label">Nơi ở</label>
						<div class="col-md-7">
							<input type="text" class="form-control" id="address"
								placeholder="Nơi ở" th:value="${delegate.address}"/>
						</div>
					</div>

					<!-- Dân tộc -->
					<div class="form-group">
						<label for="ethnic" class="col-md-4 control-label">Dân tộc</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="ethnic"
								placeholder="Dân tộc" th:value="${delegate.ethnic}"/>
						</div>
					</div>

					<!-- Tôn giáo -->
					<div class="form-group">
						<label for="religion" class="col-md-4 control-label">Tôn
							Giáo</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="religion"
								placeholder="Tôn giáo" th:value="${delegate.religion}"/>
						</div>
					</div>

					<!-- Ngày vào Đoàn -->
					<div class="form-group">
						<label for="dateOfYouthUnion" class="col-md-4 control-label">Ngày
							vào Đoàn</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="dateOfYouthUnion"
								placeholder="Ngày vào Đoàn" th:value="${delegate.dateOfYouthUnion}"/>
						</div>
					</div>

					<!-- Ngày vào Đảng dự bị -->
					<div class="form-group">
						<label for="dateOfPartyPreparatory" class="col-md-4 control-label">Ngày
							vào Đảng (dự bị)</label>
						<div class="col-md-5">
							<input type="text" class="form-control"
								id="dateOfPartyPreparatory" placeholder="Dự bị" th:value="${delegate.dateOfPartyPreparatory}"/>
						</div>
					</div>

					<!-- Ngày vào Đảng chính thức -->
					<div class="form-group">
						<label for="dateOfPartyOfficial" class="col-md-4 control-label">Ngày
							vào Đảng (chính thức)</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="dateOfPartyOfficial"
								placeholder="Chính thức" th:value="${delegate.dateOfPartyOfficial}"/>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Achievement -->
			<div class="col-md-7" style="padding: 0;">
				<div id="panel-achievement" class="delegate-modal-panel">
					<!-- Học vấn -->
					<div class="form-group top-control">
						<label for="educational" class="col-md-2 control-label">Học
							vấn</label>
						<div class="col-md-5" >
							<input th:if="${delegate.extension}" type="text" class="form-control" id="educational"
								placeholder="Trình độ học vấn" th:value="${delegate.extension.educational}"/>
								
							<input th:unless="${delegate.extension}" type="text" class="form-control" id="educational"
								placeholder="Trình độ học vấn"/>
						</div>
						
					</div>

					<!-- Chuyên môn -->
					<div class="form-group">
						<label for="specialty" class="col-md-2 control-label">Chuyên
							môn</label>
						<div class="col-md-5">
							<input th:if="${delegate.extension}" type="text" class="form-control" id="specialty"
								placeholder="Chuyên môn" th:value="${delegate.extension.specialty}"/>
								
							<input th:unless="${delegate.extension}" type="text" class="form-control" id="specialty"
								placeholder="Chuyên môn"/>
						</div>
					</div>

					<!-- Lý luận chính trị -->
					<div class="form-group">
						<label for="politicalTheory" class="col-md-2 control-label">LLCT</label>
						<div class="col-md-5">
							<input th:if="${delegate.extension}" type="text" class="form-control" id="politicalTheory"
								placeholder="Lý luận chính trị" th:value="${delegate.extension.politicalTheory}"/>
								
							<input th:unless="${delegate.extension}" type="text" class="form-control" id="politicalTheory"
								placeholder="Lý luận chính trị"/>
						</div>
					</div>


					<!-- Ngoại ngữ -->
					<div class="form-group">
						<label for="foreignLanguages" class="col-md-2 control-label">Ngoại
							ngữ</label>
						<div class="col-md-5">
							<input th:if="${delegate.extension}" type="text" class="form-control" id="foreignLanguages"
								placeholder="Ngoại ngữ" th:value="${delegate.extension.foreignLanguages}"/>
								
							<input th:unless="${delegate.extension}" type="text" class="form-control" id="foreignLanguages"
								placeholder="Ngoại ngữ"/>
						</div>
					</div>

					<!-- Ngoại ngữ -->
					<div class="form-group">
						<label for="informationTechnology" class="col-md-2 control-label">Tin
							học</label>
						<div class="col-md-5">
							<input th:if="${delegate.extension}" type="text" class="form-control"
								id="informationTechnology" placeholder="Tin học" th:value="${delegate.extension.informationTechnology}"/>
							
							<input th:unless="${delegate.extension}" type="text" class="form-control"
								id="informationTechnology" placeholder="Tin học"/>
						</div>
					</div>

					<!-- Ghi chú / Thành tích -->
					<div class="form-group">
						<label for="achievement" class="col-md-2 control-label">Ghi
							chú</label>
						<div class="col-md-10">
							<textarea class="form-control" id="achievement" maxlength="2000"
								rows="9" placeholder="Ghi chú" th:inline="text">[[${delegate.achievement}]]
							</textarea>
						</div>
					</div>
				</div>

			</div>
		</div>
	
	</div>
</body>
</html>