<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<footer class="my-footer" th:fragment="footer">

		<div class="standard-color" style="padding: 10px;">
			<div
				style="font-size: 15px; font-family: Helvetica; font-weight: 600;">
				Đoàn Thanh niên – Hội sinh viên Trường ĐH Công nghệ Thông tin -
				ĐHQG-HCM</div>

			Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.HCM <br></br> Điện thoại: (08)
			3603 0862 – Email: vpdoan@uit.edu.vn <br></br> Website: <a
				style="color: silver;" href="http://tuoitre.uit.edu.vn">
				http://tuoitre.uit.edu.vn </a> <br></br> Forum: <a
				style="color: silver;" href="http://forum.uit.edu.vn">
				http://forum.uit.edu.vn </a>

		</div>

		<div class="clear"></div>

	</footer>

</body>
</html>