<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div th:fragment="menu" class="container-fluid" id="congress-detail-menu">
 		
		<img class="img-circle" id="congress-logo" th:src="@{../images/page/default-avatar.png}" alt="congres-logo"/>

		<ul class="nav nav-pills" id="nav-congress-menu">
			<li role="presentation" th:class="${detail_active} ? 'active' : 'inactive'"><a th:href="${detail_active} ? '#' : '../detail/this'"><span class="glyphicon glyphicon-info-sign"></span>  Thông tin</a></li>
 			<li role="presentation" th:class="${voting_active} ? 'active' : 'inactive'"><a th:href="${voting_active} ? '#' : '../voting/list'"><span class="glyphicon glyphicon-check"></span>  Bầu cử</a></li>
 			<li role="presentation" th:class="${statistics_active} ? 'active' : 'inactive'"><a th:href="${statistics_active} ? '#' : '../statistics/'"><span class="glyphicon glyphicon-blackboard"></span>  Thống kê</a></li>
		</ul>
	</div>
</body>
</html>