<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div th:fragment="menu" class="container-fluid" id="congress-detail-menu">
 		
		<img class="img-circle" id="congress-logo" src="http://goo.gl/PFT9FD" alt="congres-logo"/>

		<ul class="nav nav-pills" id="nav-congress-menu">
			<li role="presentation"><a href="#"> <span class="glyphicon glyphicon-info-sign"></span> Thông tin</a></li>
			<li role="presentation"><a href="#"> <span class="glyphicon glyphicon-check"></span> Bầu cử</a></li>
			<li role="presentation"><a href="#"> <span class="glyphicon glyphicon-blackboard"></span> Thống kê</a></li>
		</ul>
	</div>
</body>
</html>