@CHARSET "UTF-8";

#modal-content-delegate-table{
	width: 97%
}

#panel-congress-list, #panel-create-congress {
	border-radius : 0px;
	border-color: #00aff0;
}

#heading-congress-list, #heading-create-congress {
	background-color: #00aff0;
	border-radius : 0px;
}

#heading-congress-list>h2>a, #heading-create-congress>h2>a {
	font-weight: bold;
	color: white;
	font-size: 17px;
}

#panel-create-congress {
	margin-top: 10px;
}

#congress-content {
	border: 1px solid #00aff0;
	border-top: 0px;
}

