@CHARSET "UTF-8";

img {
	width : 100%;
}

.banner {
	width : 100%;
	min-height : calc(35vh);
	max-height: calc(35vh);
}

.tab-menu {
	margin : auto;
	min-height: calc(10vh);
	max-height: calc(10vh);
	list-style: none;
}

