@CHARSET "UTF-8";

#congress_list, #create_congress {
	background-color: #00aff0;
	border-radius : 0px;
}

#title-list-congress {
	font-weight: bold;
	color: white;
}

#title-create-congress {
	font-weight: bold;
	color: white;
}

#modal-content-delegate-table{
	width: 97%
}

#panel-congress-list, #panel-create-congress {
	border-radius : 0px;
}
