@CHARSET "UTF-8";

/* COMMON */
.menu>a {
	font-size: 18;
	font-weight: bold;
}

.readonly-data {
	text-align: center;
}

.title-readonly-data {
	width: 50%;
	text-align: left;
}

.img-thumbnail {
	padding: 0px;
}

#panel-banner-content {
	border: 1px solid #00aff0;
}

/* BANNER */
#img-congress-banner {
	width: calc(100%);
	height: calc(100%);
}

#tab-congress-banner, #tab-delegate-banner {
	position: relative;
	width: 100%;
}

#tab-congress-banner:before, #tab-delegate-banner:before {
	content: "";
	display: block;
	padding-top: 37%; /* initial ratio of 3.15:8.51*/
}

#image-banner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* CONGRESS DETAIL */
#congress-detail-content {
	border: 1px solid #00aff0;
	border-top: 0px;
}

#modal-content-delegate {
	width: 95%;
}

.delegate-modal-panel {
	border: 1px solid #00aff0;
	padding: 10px;
}

#panel-main-info {
	border-bottom: 0px;
}

#panel-other-info {
	border-right: 0px;
}

#panel-avatar {
	border: 0px;
	position: relative;
}

#img-code {
	position: absolute;
	z-index: 1;
	width: 25%;
	top: 2px;
	right: 2px;
}

#img-avatar {
	display: block;
	margin: auto;
}

.top-control {
	margin-top: 10px;
}