@CHARSET "UTF-8";

img {
	width: 100%;
}

.banner {
	width: 100%;
	min-height: calc(35vh);
	max-height: calc(35vh);
	
}

#panel-banner-content{
	border: 1px solid #00aff0;
}

#banner-imagePath {
	
	max-width:90%;
	max-height:90%;
	padding: 10px;
	
}

.tab-manager>li.active>a, .tab-manager>li.active>a:focus {
	background-color: #00aff0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px
}

.tab-manager {
	margin-top: 10px;
	border: 1px solid #00aff0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#congress-detail-content {
	margin-bottom: 10px;
	border: 1px solid #00aff0;
	border-top: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tab-container {
	padding-top: 10px;
}

.menu>a {
	font-size: 18;
	font-weight: bold;
}

.readonly-data {
	text-align: center;
}

.title-readonly-data {
	width: 50%;
	text-align: left;
}

.img-thumbnail {
	padding: 0px;
}

#modal-content-delegate {
	width: 95%;
}

.delegate-modal-panel {
	border: 1px solid #00aff0;
	padding: 10px;
}

#panel-main-info {
	border-bottom: 0px;
}

#panel-other-info {
	border-right: 0px;
}

#panel-avatar {
	border: 0px;
	position: relative;
}

#img-code {
	position: absolute;
	z-index: 1;
	width: 25%;
	top: 2px;
	right: 2px;
}

#img-avatar {
	display: block;
	margin: auto;
}

.top-control {
	 margin-top: 10px;
}