@CHARSET "UTF-8";

#panel-candidate-table, #panel-counting-rules {
	border-radius: 0px;
	border-color: #00aff0;
}

#heading-candidate-table, #heading-counting-rules {
	background-color: #00aff0;
	border-radius: 0px;
}

#heading-candidate-table>h2>a, #heading-counting-rules>h2>a {
	font-weight: bold;
	color: white;
	font-size: 17px;
}

#panel-counting-rules {
	margin-top: 15px;
}

/* COUNTING RULES */
#min-percent, #max-selected {
	text-align: center;
	color: black;
	font-weight: bolder;
}

/**/
.btn-voting-detail {
	margin-left: 5px;
	margin-right: 5px;
}

#create-codes-modal {
	margin-top: calc(30vh);
}

/* MODAL CREATE BALLOT */
.modal .modal-body {
    max-height: calc(80vh);
    overflow-y: auto;
}