@CHARSET "UTF-8";

#panel-candidate-table, #panel-counting-rules {
	border-radius: 0px;
	border-color: #00aff0;
}

#heading-candidate-table, #heading-counting-rules {
	background-color: #00aff0;
	border-radius: 0px;
}

#heading-candidate-table>h2>a, #heading-counting-rules>h2>a {
	font-weight: bold;
	color: white;
	font-size: 17px;
}

#panel-counting-rules {
	margin-top: 15px;
}

/* COUNTING RULES */
#min-percent, #max-selected, #min-selected {
	text-align: center;
	color: black;
	font-weight: bolder;
	font-size: 13pt;
}

/**/
.btn-voting-detail {
	margin-left: 5px;
	margin-right: 5px;
}

#create-codes-modal {
	margin-top: calc(32vh);
}

/* MODAL CREATE BALLOT */
.modal .modal-body {
	max-height: calc(81vh);
	overflow-y: auto;
}

.table-children-ver-center {
	display: table-cell;
}

.table-children-ver-center>tbody>tr>td {
	vertical-align: middle;
	border: 0px;
	text-align: left;
	padding-top: 0;
	padding-bottom: 3px;
	font-family: Time New Romance;
	font-size: 13pt;
}

#create-ballot-table {
	font-size : 13pt;
}