<!DOCTYPE html>
<html>
<head>
<title>Congress</title>

<!-- JQuery -->
<script type="text/javascript"
	th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/common.css}" />

<!-- Datatables -->
<script type="text/javascript"
	th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/datatables/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/datatables/dataTables.buttons.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/datatables/buttons.bootstrap.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/datatables/dataTables.bootstrap.min.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/datatables/select.bootstrap.min.css}" /> -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/datatables/buttons.bootstrap.min.css}" />

<!-- Date Time Picker -->
<script type="text/javascript"
	th:src="@{/js/bootstrap/bootstrap-datetimepicker.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" />

<script type="text/javascript"
	th:src="@{/js/common/timer.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/congress_detail.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/pages/congress_detail.css}" />

</head>
<body>
	<div class="container">

		<div class="col-md-2">
			<div th:replace="fragment/menu :: menu"></div>
		</div>

		<div class="col-md-10">
			<div class="page-header">
				<h1 th:text="${congress.name}"> </h1>
			</div>
			
			<!-- Tab banner -->
			<div>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs hidden" role="tablist">
					<li role="presentation" class="active">
						<a href="#image-banner" aria-controls="image-banner" role="tab" data-toggle="tab">Image</a>
					</li>
					
					<li role="presentation">
						<a href="#delegate-banner" aria-controls="delegate-banner" role="tab" data-toggle="tab">Delegate</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content" id="tab-congress-banner">
					<div role="tabpanel" class="tab-pane fade in active" id="image-banner">
						<img src="https://goo.gl/Nt9qhA" alt="image-banner" class="img-thumbnail no-radius" id="img-congress-banner"/>
					</div>
					
					<div role="tabpanel" class="tab-pane fade" id="tab-delegate-banner">
					</div>
				</div>

			</div>
		</div>
		
	</div>

	<div class="modal fade" id="modal-delegate" tabindex="-1" role="dialog"
		aria-labelledby="delegateModalLabel">
		<div class="modal-dialog" role="document" id="modal-content-delegate">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Chi tiết Đại biểu</h4>
				</div>

				<div class="modal-body">
					<div id="detail-delegate"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-unit" tabindex="-1" role="dialog"
		aria-labelledby="unitModalLabel">
		<div class="modal-dialog" role="document" id="modal-content-unit">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Chi tiết Đơn vị</h4>
				</div>

				<div class="modal-body">
					<form class="form-horizontal" id="form-unit">
						<div id="detail-unit"></div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Lưu</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>




</body>
</html>