<!DOCTYPE html>
<html>
<head>
<title>Congress</title>

<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}" />

<!-- Datatables -->
<script type="text/javascript" th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.select.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/dataTables.bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/select.bootstrap.min.css}" />

<!-- Date Time Picker -->
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-datetimepicker.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" />

<script type="text/javascript" th:src="@{/js/common/timer.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/congress_detail.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/pages/congress_detail.css}" />

</head>
<body>
	<div class="container my-container">
		<!-- Logo & Info -->
		<div class="col-md-2">
			<!-- Logo -->
			<div th:replace="fragment/menu :: menu"></div>
		</div>
		
		<!-- Banner & Content -->
		<div class="col-md-10">
			<!-- Banner -->
			<div class="container-fluid">
				<img th:if="${congress.banner}" th:src="@{congress.banner}" class="img-responsive banner" alt="Responsive image"/>
				<img th:unless="${congress.banner}" th:src="@{/images/page/default-banner.png}" class="img-responsive banner" alt="Responsive image"/>
			</div>

			<!-- Tab Manager -->
			<div class="container-fluid">
				<ul class="nav nav-pills nav-justified tab-manager">
					<li role="presentation" class="active menu">
						<a href="#congress" aria-controls="congress" role="tab" data-toggle="tab">
						 	Thông tin chung
						</a>
					</li>
					
					<li role="presentation" class="menu">
						<a href="#delegates" aria-controls="delegates" role="tab" data-toggle="tab">
							Danh sách Đại biểu
						</a>
					</li>
					
					<li role="presentation" class="menu">
						<a href="#units" aria-controls="units" role="tab" data-toggle="tab">
							Danh sách Đơn vị
						</a>
					</li>
				</ul>
			</div>
			
			<!-- Content -->
			<div class="container-fluid">
				<div class="tab-content tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="congress">
					
						<div class="container-fluild tab-container">
							
							<!-- Tên đại hội -->
							<div class="form-group">
								<label for="congress-name" class="col-md-1 control-label"></label>
								<div class="input-group col-md-8">
									<div class="input-group-addon"><span class="glyphicon glyphicon-pencil"/></div>
									<input th:value="${congress.name}" th:name="name" type="text" required="true" class="form-control" id="congress-name" placeholder="Tên Đại hội" />
								
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-refresh"></span>
									</div>
								</div>
							</div>
							
							<!-- Thời gian bắt đầu -->
							<div class="form-group">
								<label for="start-time" class="col-md-1 control-label"></label>
								<div class="input-group col-md-4">
									<div class="input-group-addon"><span class="glyphicon glyphicon-time"/></div>
									<input th:value="${congress.startTime}" th:name="startTime" type="text" required="true" class="form-control form-datetime date" id="start-time"
										placeholder="Thời gian bắt đầu"/>

									<div class="input-group-addon">
										<span class="glyphicon glyphicon-refresh"></span>
									</div>
								</div>
							</div>
							
							<!-- Thời gian kết thúc -->
							<div class="form-group">
								<label for="end-time" class="col-md-1 control-label"></label>
								<div class="input-group col-md-4">
									<div class="input-group-addon"><span class="glyphicon glyphicon-time"/></div>

									<input th:value="${congress.endTime}" th:name="endTime" type="text" required="true" class="form-control form-datetime date" id="end-time"
										placeholder="Thời gian kết thúc"/>

									<div class="input-group-addon">
										<span class="glyphicon glyphicon-refresh"></span>
									</div>
								</div>
							</div>
							
							<!-- Số Đại biểu tham dự -->
							<div class="form-group">
								<label for="total-delegate" class="col-md-1 control-label"></label>
								<div class="input-group col-md-4">
									<div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"/></div>
									<div class="input-group-addon title-readonly-data">Tổng số Đại biểu</div>
									<input th:value="${congress.delegates.size()}" th:name="totalDelegate" type="text" class="form-control readonly-data" id="total-delegate" readonly="true"/>
			
								</div>
							</div>
							
							<!-- Số Đơn vị -->
							<div class="form-group">
								<label for="total-unit" class="col-md-1 control-label"></label>
								<div class="input-group col-md-4">
									<div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"/></div>
									<div class="input-group-addon title-readonly-data">Tổng số Đơn vị</div>
									<input th:name="totalUnit" type="text" class="form-control readonly-data" id="total-unit" readonly="true"/>
			
								</div>
							</div>
							
							<!-- Số lần bầu cử -->
							<div class="form-group">
								<label for="total-voting" class="col-md-1 control-label"></label>
								<div class="input-group col-md-4">
									<div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"/></div>
									<div class="input-group-addon title-readonly-data">Tổng số Bầu cử</div>
									<input th:name="name" type="text" class="form-control readonly-data" id="total-voting" readonly="true" />
					
								</div>
							</div>
							
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="delegates">2.</div>
					<div role="tabpanel" class="tab-pane fade" id="units">3..</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>