<!DOCTYPE html>
<html>
<head>
<title>Congress</title>

<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}" />

<!-- Datatables -->
<script type="text/javascript" th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.select.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/dataTables.bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/select.bootstrap.min.css}" />


<script type="text/javascript" th:src="@{/js/pages/congress_list.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/pages/congress_list.css}" />

</head>
<body>
	<div class="container">

		<div class="panel-group" id="congress" role="tablist"
			aria-multiselectable="true">

			<!-- Panel Table -->
			<div class="panel panel-info">
				<div class="panel-heading" role="tab" id="congress_list">
					<h2 class="panel-title">
						<a class="collapsed" id="title-list-congress" role="button"
							data-toggle="collapse" data-parent="#congress"
							href="#congress_list_content" aria-expanded="true"
							aria-controls="congress_list_content">Danh sách Đại hội</a>
					</h2>
				</div>

				<div id="congress_list_content" class="panel-collapse collapsed in"
					role="tabpanel" aria-labelledby="congress_list">
					<div class="panel-body">

						<table id="congress-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>STT</th>
									<th>Tên Đại hội</th>
									<th>Số đơn vị</th>
									<th>Số đại biểu</th>
									<th>Số lần bầu cử</th>
									<th>Bắt đầu</th>
									<th>Kết thúc</th>
									<th></th>
								</tr>
							</thead>
							
							<tfoot>
								<tr>
									<th>STT</th>
									<th>Tên Đại hội</th>
									<th>Số đơn vị</th>
									<th>Số đại biểu</th>
									<th>Số lần bầu cử</th>
									<th>Bắt đầu</th>
									<th>Kết thúc</th>
									<th></th>
								</tr>
							</tfoot>
							
						</table>
					</div>
				</div>
			</div>

			<!-- Panel Create -->
			<div class="panel panel-info">
				<div class="panel-heading" role="tab" id="create_congress">
					<h2 class="panel-title" style="font-size: 25;">
						<a id="title-create-congress" role="button" data-toggle="collapse"
							data-parent="#congress" href="#create_congress_content"
							aria-expanded="false" aria-controls="create_congress_content">Tạo
							thông tin Đại hội</a>
					</h2>
				</div>

				<div id="create_congress_content" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="create_congress">
					<div class="panel-body">123</div>
				</div>
			</div>

		</div>

	</div>
</body>
</html>