<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<!-- Boot strap -->
	<script type="text/javascript" th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
	<link type="text/css" th:href="@{/css/bootstrap/bootstrap-theme.min.css}"  rel="stylesheet"/>
	
	<!-- Data table -->
	<script type="text/javascript" th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/dataTables.bootstrap.min.css}"/>
	
	<!-- Editable Table -->
	<!-- <script type="text/javascript" th:src="@{/js/datatables/editor/dataTables.editor.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datatables/editor/editor.bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/editor/editor.bootstrap.min.css}"/>

	<script type="text/javascript" th:src="@{/js/datatables/editor/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datatables/editor/buttons.bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/editor/buttons.bootstrap.min.css}"/> -->

	<script type="text/javascript" th:src="@{/js/datatables/editor/dataTables.select.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/editor/select.bootstrap.min.css}"/>


	<script type="text/javascript" th:src="@{/js/pages/test.js}"></script>
</head>
<body>
<div class="container">
	<table id="example" class="display" cellspacing="0" width="100%" >
		<thead>
        <tr>
           	<th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
        </tr>
    </thead>
	</table>
</div>
</body>
</html>