<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Đăng nhập</title>

<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}" />

<!-- <script type="text/javascript" th:src="@{/js/pages/sign_in.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/pages/sign_in.css}" /> -->

</head>
<body>
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-body">
				<form th:action="@{/j_spring_security_check}" method="post"
					class="form-signin" autocomplete="off">
					<h2 class="form-signin-heading">Vui lòng đăng nhập</h2>

					<div th:if="${error}" class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign"
							aria-hidden="true"></span> <span class="sr-only">Lỗi:</span> Sai
						tên hoặc mật khẩu
					</div>

					<div th:if="${signout}" class="alert alert-success" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign"
							aria-hidden="true"></span> <span class="sr-only">Thông
							báo:</span> Đăng xuất thành công
					</div>

					<label for="j_username" class="sr-only">Tên tài khoản</label> 
					<input type="text" id="j_username" name="j_username" class="form-control" placeholder="Tên tài khoản" required="true" autofocus="true" /> 
					
					<label for="j_password" class="sr-only">Mật khẩu</label> 
					<input type="password" id="j_password" name="j_password" class="form-control" placeholder="Mật khẩu" required="true" />
					
					<button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>