<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Thống kê</title>

<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}" />

<!-- Datatables -->
<script type="text/javascript" th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/buttons.bootstrap.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/dataTables.bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/select.bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/buttons.bootstrap.min.css}" />

<!-- Date Time Picker -->
<!-- <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-datetimepicker.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" /> -->

<script type="text/javascript" th:src="@{/js/common/timer.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/canvasjs.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/statistics_list.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/pages/statistics_list.css}" />

</head>
<body>
	<div class="container">
		<div class="my-container">
			<div class="row">
				<!-- Logo & Menu -->
				<div class="col-md-2">
					<!-- Logo -->
					<div th:replace="fragment/menu :: menu"></div>
				</div>
				
				<!-- Content -->
				<div class="col-md-10">
					
					<!-- Header -->
					<div class="page-header">
						<h2 th:text="${congress.name}" class="standard-text-color"></h2>
						<h4>
							Đại biểu hiện diện : <span class="standard-text-color"
								th:text="${attendees} + ' / ' + ${totalDelegate}"></span>
						</h4>
						<h4>
							Đơn vị : <span class="standard-text-color"
								th:text="${totalUnit}"></span>
						</h4>
					</div>
					
					<!-- Content -->
					<div id="statistics-list-content">
						<table id="statistics-table"
							class="table table-striped table-bordered" cellspacing="0"
							width="100%">
							<thead>
								<tr>
									<th>Tên bầu cử</th>
									<th>Phiên bản</th>
									<th>Bắt đầu</th>
									<th>Kết thúc</th>
									<th>Số ứng viên</th>
									<th>Số phiếu</th>
									<th>Phiếu đã lưu</th>
									<th></th>
								</tr>
							</thead>

							<tfoot>
								<tr>
									<th>Tên bầu cử</th>
									<th>Phiên bản</th>
									<th>Bắt đầu</th>
									<th>Kết thúc</th>
									<th>Số ứng viên</th>
									<th>Số phiếu</th>
									<th>Phiếu đã lưu</th>
									<th></th>
								</tr>
							</tfoot>


						</table>

					</div>
				</div>
			</div>
		</div>
		
		<footer th:replace="fragment/footer :: footer"></footer>
	</div>
</body>
</html>