<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Bầu cử</title>

<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/common/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}" />

<!-- Datatables -->
<script type="text/javascript" th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/buttons.bootstrap.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/dataTables.bootstrap.min.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/datatables/select.bootstrap.min.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables/buttons.bootstrap.min.css}" />

<!-- Date Time Picker -->
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-datetimepicker.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" />

<script type="text/javascript" th:src="@{/js/common/timer.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/voting.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/pages/voting.css}" />

</head>
<body>
	<div class="container">
		<div class="my-container row">
			<!-- Logo & Menu -->
			<div class="col-md-2">
				<!-- Logo -->
				<div th:replace="fragment/menu :: menu"></div>
			</div>
			
			<!-- Content -->
			<div class="col-md-10">
			
				<!-- Header -->
				<div class="page-header">
					<h2 th:text="${congress.name}" class="standard-text-color"></h2>
					<h4>Đại biểu : <span class="standard-text-color" th:text="${attendees} + ' / ' + ${congress.delegates.size()}"></span></h4>
					<h4>Đơn vị : <span class="standard-text-color" th:text="${congress.units.size()}"></span></h4>
				</div>
				
				<!-- Table & Creation Field -->
				<div class="panel-group" id="panel-group-voting" role="tablist" aria-multiselectable="true">
					<!-- Panel Voting List -->
					<div class="panel panel-info" id="panel-voting-list">
						<div class="panel-heading" role="tab" id="heading-voting-list">
							<h2 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#panel-group-voting" href="#voting-list-content" aria-expanded="true" aria-controls="heading-voting-list">
									Danh sách bầu cử
								</a>
							</h2>
						</div>
						
						 <div id="voting-list-content" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-voting-list">
						 	<div class="panel-body">
						 		1231231
						 	</div>
						 </div>
					</div>
					
					<!-- Panel Create Voting -->
					<div class="panel panel-info" id="panel-create-voting">
						<div class="panel-heading" role="tab" id="heading-create-voting">
							<h2 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#panel-group-voting" href="#create-voting-content" aria-expanded="false" aria-controls="panel-create-voting">
									Tạo thông tin bầu cử
								</a>	
							</h2>
						</div>
						
						 <div id="create-voting-content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-create-voting">
						 	<div class="panel-body">
						 		1231231
						 	</div>
						 </div>
					</div>
				</div>
			</div>
			
		</div>
		
		<!-- Footer -->
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>